-// Variables:
-// sourceDisplayName
-// projectName


doctype html  
html(lang='en')  
    head
        title Handball
        body
            table(width="100%")
                tr
                    td
                        h1(style={'font-family': "'Open Sans', 'Lucida Sans', Geneva, Verdana, sans-serif", color: 'rgb(255, 141, 6)'}) #{sourceDisplayName} has invited you to contribute to their project on Handball
                            
                tr
                    td
                        h2(style={'font-family': "'Open Sans', 'Lucida Sans', Geneva, Verdana, sans-serif", color: 'rgb(255, 17, 95)'}) Open the app on your device to start collaborating on #{projectName}
                        